<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://scontent.fmgf2-1.fna.fbcdn.net/v/t1.6435-9/140544912_1065368327209806_8553550365302511049_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=e3f864&_nc_eui2=AeGHwsbGtMUJzG4vY2JDWG9GWBubjKnFLXNYG5uMqcUtc2cJuHzNhZjtUfla8FJHtrctfLfonBS1ddpt7YtkA42Q&_nc_ohc=T9Ms8aD8TDYAX_XZ-aR&_nc_ht=scontent.fmgf2-1.fna&oh=cc5dbd60f8bf871dd3d49322a173c194&oe=60E2B303"
                    alt="Imagem do User" width="60px" height="60px" class="img-fluid rounded-circle">
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-dark fs-16">Nome do usuário</p>
            </li>
            <li class="nav-item pl-3">
                <a href="">
                    <p class="text-dark fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p> 
                </a>
              
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold text-dark fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
            </li>
        </ul>
    </div>
</nav>